body {
    background-color: #00004d;
    }
    
    #button{

        margin-left: auto;
        margin-right: auto;
        width: 50%;
        

    }
#Text{
    color:white;

}
#Text2{
    color:white;

}   